$xs-txt: 12px;
$sm-txt: 14px;
$md-txt: 18px;
$lg-txt: 26px;
$xl-txt: 44px;

$slow: 0.75s ease-in-out;
$normal-speed: 0.5s ease-in-out;
$fast: 0.3s ease-in-out;
$very-fast: 0.2s ease-in-out;

$margin: 4rem;
$margin-sm: 2rem;

